/* 
main {
  background-color: red;
  width: 100%;
  height: 500px;
}


p{
   medida absoluta en pixeles 
  font-size: 16px;
}

#parrafo {
   Medida proporcionada 
  font-size: 80%;
  background-color: azure;
} */
body{
  font-size: 20px;
}

.text-container{
  font-size: 1.5rem;
}

.text-container div {
  font-size: 1.5rem;
}